.anwsers {
  margin-bottom: 0;
  margin-right: 20px;
  margin-left: 10px;
}

body {
  background-image: url(http://images2.fanpop.com/images/photos/5400000/Mario-Bros-Wallpaper-super-mario-bros-5431661-1280-768.jpg);
}

.q1 {
  font-weight: bold;
  padding: 10px;
  margin-bottom: 0px;

  background-color: white;
  color: black;
  border: 1px solid black;
}
.input-group-text input[type="checkbox"],
.input-group-text input[type="radio"] {
  margin-top: 0;
  color: red;
}
.timer {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 25px;
  margin-right: 970px;
  padding-right: 0px;
  padding-left: 10px;
  margin-bottom: 0px;
}
#timer {
  border: 1px solid gold;
}

.button-container {
  text-align: center;
}
#start {
  padding: 15px;
  width: 120px;
  display: inline-block;
}
.title {
  color: red;
  font-size: 80px;
  font-weight: 100;
  text-align: center;
}
.anwsers {
  font-weight: bold;
  background-color: white;
  color: black;
}
.question {
  padding-right: 483px;
}
.question2 {
  padding-right: 731.5px;
}
.question3 {
  padding-right: 557px;
}
.question4 {
  padding-right: 730px;
}
.question5 {
  padding-right: 694px;
}
.question6 {
  padding-right: 642px;
}

.question7 {
  padding-right: 669px;
}

.question8 {
  padding-right: 334px;
}

.input-group-text {
  border-radius: 0rem;
}
.final {
  text-align: center;
  margin-top: 100px;
  padding: 75px;
  font-size: 50px;
  margin-left: 500px;
  margin-right: 500px;
  color: gold;
  background-color: black;
}

.submit {
  padding: 10px;
}

#done {
  background-color: green;
}
